/* common shared styles */
body {
  font-family: lato;
}
.btn-primary {
  padding: 20px 40px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.section-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
}
.text-primary {
  color: #fff;
}

/* header related sytes */
.header {
  background-color: rgba(229, 84, 115, 0.1);
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.banner-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  margin-right: 97px;
  width: 708px;
}
.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-image {
  width: 635px;
}

/* main section styles */

/* Bonus Section Our Featured Flowers Styles */
.featured-flowers {
  margin-top: 178px;
}
.rectangle-flower-img-container {
  display: flex;
  gap: 24px;
  margin-top: 50px;
  justify-content: center;
  padding-bottom: 0;
}
.rectangle-flower-img-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
}
.rectangle-flower-img-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
}
.rectangle-flower-img-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}
.featured-img-1 {
  padding: 110px 78px 0px 76px;
}
.featured-img-2 {
  padding: 117px 47px 51px;
}
.featured-img-3 {
  padding: 67px 75px 0px;
}

.flower-image {
  align-items: center;
}
.featured-img-text {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
/* hot deal section styles */
.hot-deal {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  display: flex;
  margin-top: 250px;
  padding: 100px 215px 100px 190px;
  align-items: center;
}
.hot-deal-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.hot-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.sing-up {
  text-align: center;
}
/* instagram section styles */
.instagram {
  margin-top: 128px;
}
.instagram-img {
  gap: 24px;
  justify-content: center;
  display: flex;
  margin-top: 48px;
}
/* latest deals section */
.latest-deals {
  margin-top: 128px;
  background-image: url(../images/Rectangle\ 9.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  background-position: center;
}

.latest-deals-content {
  justify-content: center;
  text-align: center;
  padding-top: 122px;
  padding-bottom: 121px;
}
#section-content {
  margin-top: -20px;
  padding-bottom: 45px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.email-Subscribe input[type="email"] {
  width: 690px;
  height: 64px;
  border: none;
  margin-bottom: 48px;
  border-radius: 8px;
  background: #fff;
  margin-right: 16px;
  color: rgba(39, 39, 39, 0.6);
  padding-left: 22px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.email-Subscribe {
  justify-content: center;
}

/* footer related styles */
.footer {
  width: auto;
  height: 449px;
  margin-top: 128px;
  background-color: #111010;
}
.footer-title {
  margin-top: 128px;
  padding-top: 128px;
  color: #e55473;
  font-size: 48px;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.footer-description {
  margin-top: -24px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.copy {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
}
